<nav class="panel">
  <p class="text-uppercase has-text-gray pv1 f6">filter kampagne type</p>

  <ul class="mb3 pa0">
    <li class="pv1">
      <%= link_to 'Alle kampagner', jobs_path, class: "button is-fullwidth is-Light" %>
    </li>

    <li class="pv1">
      <%= link_to '1 친r', jobs_path(job_type: "1 친r"), class: "button is-fullwidth is-Dark" %>
    </li>

    <li class="pv1">
      <%= link_to '8 m친neder', jobs_path(job_type: "8 m친neder"), class: "button is-fullwidth is-Dark" %>
    </li>

    <li class="pv1">
      <%= link_to '6 m친neder', jobs_path(job_type: "6 m친neder"), class: "button is-fullwidth is-Dark"  %>
    </li>

    <li class="pv1">
      <%= link_to '2 m친neder', jobs_path(job_type: "2 m친neder"), class: "button is-fullwidth is-Dark" %>
    </li>
  </ul>
</nav>

<div class="info-div">

<nav class="info">
  <p class="text Infomation"><strong>Infomation og nyheder</strong></p>
      <p>Vi er stolte af at kunne pr칝sentere vores nye menu. Du kan nu nemmere finde det du leder efter her p친 medlems siden. Skriv endelig hvis i har flere ting vi kan tilf칮je 游땘</p>
</nav>

</div>
