<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
  <%= content_for(:title) %>
<% else %>
  <title>HeyAd - Medlems side</title>
<% end %>
    <link rel="shortcut icon" href="http://heyad.dk/wp-content/uploads/2018/04/Egenligt_logo.png"/>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    <title><%= Rails.configuration.application_name %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" rel="stylesheet"/>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application.js" %>

    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
<% if user_signed_in? %>
    <nav class="navbar ">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://localhost:3000">
          <img src="http://heyad.dk/wp-content/uploads/2018/04/Egenligt_logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="32" height="75">
        </a>

        <a class="navbar-item" href="https://github.com/jgthms/bulma" target="_blank">
          <span class="icon" style="color: #333;">
            <i class="fa fa-instagram"></i>
          </span>
        </a>

        <a class="navbar-item" href="https://github.com/jgthms/bulma" target="_blank">
          <span class="icon" style="color: #333;">
            <i class="fa fa-facebook"></i>
          </span>
        </a>

             <span class="navbar-burger burger" data-target="navbarMenuHeroA">
               <span></span>
               <span></span>
               <span></span>
             </span>
           </div>
           <div id="navbarMenuHeroA" class="navbar-menu">
             <div class="navbar-end">
               <a class="navbar-item " href="http://bulma.io/expo/">
                 <span class="bd-emoji">🆘</span> &nbsp;FAQ
               </a>
               <a class="navbar-item " href="http://bulma.io/expo/">
                 <span class="bd-emoji">🎨</span> &nbsp;Expo
               </a>
               <a class="navbar-item " href="http://bulma.io/expo/">
                 <span class="bd-emoji">🎨</span> &nbsp;Expo
               </a>
               <div class="navbar-item has-dropdown is-hoverable">
                 <%= link_to 'Din konto', edit_user_registration_path, class: "navbar-link" %>
                 <div class="navbar-dropdown is-right">
                   <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
                   <%= link_to "Log Ud 🔒", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                 </div>

                   </div>
                 </div>
               </div>
               <div class="navbar-end">
             </div>
           </div>
         </div>
       </nav>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Vi sidder klar på livechatten ⌨️
          </h1>
          <h2 class="subtitle">
            Vi ønsker dig en rigtig god dag 🙊
          </h2>
        </div>
      </div>
    </section>
  <% else %>
  <nav class="navbar ">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://localhost:3000">
        <img src="http://heyad.dk/wp-content/uploads/2018/04/Egenligt_logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="32" height="75">
      </a>

      <a class="navbar-item" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-instagram"></i>
        </span>
      </a>

      <a class="navbar-item" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-facebook"></i>
        </span>
      </a>

           <span class="navbar-burger burger" data-target="navbarMenuHeroA">
             <span></span>
             <span></span>
             <span></span>
           </span>
         </div>
         <div id="navbarMenuHeroA" class="navbar-menu">
           <div class="navbar-end">
             <a class="navbar-item " href="http://localhost:3000/users/sign_in">
               <span class="bd-emoji">🤗</span> &nbsp;Log ind
             </a>
             <a class="navbar-item " href="http://localhost:3000/users/sign_up">
               <span class="bd-emoji">😍</span> &nbsp;Opret konto
             </a>
                 </div>
               </div>
             </div>
             <div class="navbar-end">
           </div>
         </div>
       </div>
     </nav>
<% end %>

  <%= yield %>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
         <a href="https://web-crunch.com" target="_blank">Heyad.dk</a> Denne side er pt i BETA så fejl kan opstå. Ved fejl skriv endelig til os.
        </p>
      </div>
    </div>
  </footer>
  <script>
  window.fcWidget.init({
    token: "935ad2ba-0bf5-498a-bf55-187f7c62e2eb",
    host: "https://wchat.freshchat.com"
  });
</script>
  </body>
</html>
